target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
tmp/
temp/
log/
logs/
lib/
#application-local.properties
output/

#application.properties
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/LOG_FILE_IS_UNDEFINED
/LOG_FILE_IS_UNDEFINED*.gz
tmp2/
